label{
  display:block;
  margin-bottom: 5px;
}

input{
  display: block;
  width: 100%;
  margin-bottom:  10px;
  padding: 8px;
}

button{
  width: 100%;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: none;
  margin-bottom: 10px;
}

#print{
  background-color: rgb(0, 255, 85);
}

h1{
  display: flex;
  justify-content: center;
  
}

body{
  
  background-attachment: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container{
  padding: 10px;
  border: 1px solid black;
}